@import url('https://fonts.googleapis.com/css2?family=Inter:wght@200;300;400;500&display=swap');
* {
    padding: 0;
    margin: 0;
    font-family: 'Inter', sans-serif;
}

header {
    background-color: #24252a;
    box-shadow: 0px 3px 10px #464646;
    position: sticky;
    top: 0;
}

.nav-bar {
    display: flex;
    justify-content: space-between;
    padding: 1.5rem 6rem;
}

.logo {
    display: flex;
    align-items: center;
}

.logo h1 {
    color: #fff;
}

.nav-list {
    display: flex;
    align-items: center;
}

.nav-list ul {
    display: flex;
    justify-content: center;
    list-style: none;
}

.nav-item {
    margin: 0 15px;
}

.nav-link {
    text-decoration: none;
    font-size: 1.15rem;
    color: #fff;
    font-weight: 400;
}


.mobile-menu-icon {
    display: none;
}

.mobile-menu {
    display: none;
}
.topo {
    background-image: url(../img2/foto1.jpg);
    height: 900px;
    width: 100%;
    background-size: cover;
    margin: auto;
    display: block;
}
.topo h2 {
    text-align: center;
    font-size: 60px;
    color: aliceblue;
    text-shadow:  
    -1px -1px 0px black, 
    -1px 1px 0px black,                    
     1px -1px 0px black,                  
     1px 0px 0px black;
}
body {
    background-color: #3a3c42;
    color: aliceblue;
}
img {
    margin: auto;
    display: block;
    border-radius: 50px;
    box-shadow: 0px 3px 10px #979494;
    max-width: 100%;
}
.mar {
    margin: 400px;
}
b {
    font-size: 35px;
    font-family: American Typewriter, serif;
}
p {
    font-size: clamp(1.30em, 3em + 1vw, 0.20em);
    font-family: American Typewriter, serif;
    align-items: center;
}


@media screen and (max-width: 730px) {
    .nav-bar {
        padding: 1.5rem 4rem;
    }
    .nav-item {
        display: none;
    }
    .mobile-menu-icon {
        display: block;
    }
    .mobile-menu-icon button {
        background-color: transparent;
        border: none;
        cursor: pointer;
    }
    .mobile-menu ul {
        display: flex;
        flex-direction: column;
        text-align: center;
        padding-bottom: 1rem;
    }
    .mobile-menu .nav-item {
        display: block;
        padding-top: 1.2rem;
    }
    .mobile-menu .login-button {
        display: block;
        padding: 1rem 2rem;
    }
    .mobile-menu .login-button button {
        width: 100%;
    }
    .open {
        display: block;
    }
    .mar {
        margin: 50px;
    }
}


